<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Multi User Canvas</title>
</head>
<body>
    <h1>Multi User Canvas</h1>
    <canvas id="canvas" width="800" height="600" style="border:1px solid #000000;"></canvas>
    <input type="color" id="colorPicker" value="#000000">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script>
        //canvas logic
const socket = io.connect('https://online-draw-njpv.onrender.com');
const canvas = document.getElementById('canvas');
const ctx = canvas.getContext('2d');
let isDrawing = false;
const colorPicker = document.getElementById('colorPicker');
canvas.addEventListener('mousedown', () => {
    isDrawing = true;
});
// send draw data to server
canvas.addEventListener('mouseup', () => {
    isDrawing = false;
});
canvas.addEventListener('mouseout', () => {
    isDrawing = false;
});
canvas.addEventListener('mousemove', (e) => {
    if (!isDrawing) return;
    const rect = canvas.getBoundingClientRect();
    const x = e.clientX - rect.left;
    const y = e.clientY - rect.top;
    ctx.fillStyle = colorPicker.value;
    ctx.beginPath();
    
    ctx.fill();
    socket.emit('draw', { x, y , color: colorPicker.value });
});
// get array of points from server and draw on canvas
socket.on('dots', (data) => {
    data.forEach(dot => {
        ctx.fillStyle = dot.color;
        ctx.beginPath();
        ctx.arc(dot.x, dot.y, 5, 0, Math.PI * 2);
        ctx.fill();
    });
});
setInterval(() => {
    socket.emit('getdraw');
    //console.log('Requesting dots from server...');
}, 10);
    </script>
    
</body>
</html>
